[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
psycopg2 = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
start="flask --app app run --host=0.0.0.0 --port=3000 --debug"
init="flask db init"
migrate="flask db migrate"
upgrade="flask db upgrade"
